
*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin: 0px;
    background-color: #363636;
}

#container{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4) 50%), linear-gradient(0deg, rgba(0, 1, 3, 0.9), rgba(0, 0, 0, 0.4) 50%), url(https://assets.nflxext.com/ffe/siteui/vlv3/563192ea-ac0e-4906-a865-ba9899ffafad/7df102ff-33bf-412b-b3b8-c97991485d89/BR-pt-20231218-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;
    height: 700px;
    padding: 25px;
}
 


/* header ---------------------------------------------*/
#logo{
    width: 150px;
    margin-left: 132px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

select{
    padding: 6px 22px;
    font-size: 16px;
    color: rgb(224, 224, 224);
    background-color: rgba(0, 0, 0, 0.712);
    margin-right: 10px;
    cursor: pointer;
    font-weight:500;
    border-radius: 5px;
    margin-right: 20px;
}


option{
    background-color: white;
    color: black;
}


#btn-entrar{
    padding: 9px 18px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 132px;
    font-weight:700;
}

/* main ---------------------------------------------*/
main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 155px;
}

main h1{
    font-size: 41px;
    font-weight: 1000;
    text-indent: 40px;
}

main h2{
    margin-top: -10px;
    font-size: 25px;
}

main h3{
    margin-top: 7px;
    font-size: 20px;
}

form{  /*tambem serve pro botao que esta mais embaixo do site o section id="perguntas"*/
    display: flex; 
    flex-direction: row;
}

input[type="email"]{ /*tambem serve pro botao que esta mais embaixo do site o section id="perguntas"*/
    height: 52px;
    width: 380px;
    background-color: rgba(29, 29, 29, 0.488);
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 10px;
}

input[type="email"]::placeholder { /*tambem serve pro botao que esta mais embaixo do site o section id="perguntas"*/
    color: #bebebe;
}

.btn-vamosla{ /*tambem serve pro botao que esta mais embaixo do site o section id="perguntas"*/
    margin-left: 10px;
    font-size: 22px;
    padding: 2px 23px;
    font-weight: 700;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* section global---------------------------------------------*/
.section{
    background-color: black;
    display: flex;
    width: 100%;
    height: 525px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.box-umetres {
    color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 0px 30px 150px;
}

.box-doisequatro {
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 170px 110px 0px;
    width: 50%;
    
}

.titulo{
    font-size: 50px;
    margin: 0; 
}

/* primeira section ---------------------------------------------*/
#box-um h1{
    
    font-size: 50px;
    margin: 0;
    text-indent: -130px;
    margin-top: -100px;
}

#box-um h2{
    margin-top: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

#tv{
    width: 500px; 
    height: 375px; 
    padding: 100px 170px 110px 0px;
}

/* segunda section ---------------------------------------------*/
#pc{
    width: 500px; 
    height: 375px; 
    padding: 100px 170px 110px 0px;
    padding: 30px 0px 30px 160px;
}

/* terceira section ---------------------------------------------*/
#box-tres h1{
    font-size: 50px;
    margin: 0;
    margin-top: -100px;
    margin-left: 10px;
}

#box-tres h2{
    margin-top: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

#infantil{
    width: 500px; 
    height: 375px; 
    padding: 100px 170px 110px 0px;
}

/* quarta section ---------------------------------------------*/
#celular{
    width: 500px; 
    height: 375px; 
    padding: 100px 170px 110px 0px;
    padding: 30px 0px 30px 160px;
}

/* perguntas section ---------------------------------------------*/
#perguntas{
    padding: 70px 0px 0px 0px;
    color: white;
    background-color: black;
    height: 850px;
    margin-top: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
}

#perguntas h1{
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
}

.btn-perguntas{
    background-color: #2D2D2D;
    color: white;
    display: flex;
    align-items: center;
    text-align:left;
    height: 82px;
    width: 1030px;
    text-indent: 20px;
    font-size: 25px;
    border: none;
    margin: 0px 0px 10px 0px;
}

#perguntas h3{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* footer ---------------------------------------------*/
footer{
    background-color: #0f0569;
    height: 440px;

}

footer h1{
    margin: 0;
}